.tocWrapper {
    padding-top: 1rem;
}

.tocHeader {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #333; /* Adjust the color as needed */
}
